<link href="register.css" rel="stylesheet" />
<script src="register.mjs" type="module"></script>

<h1 class="title">회원가입</h1>
<tp-input-string id="input-email" label="이메일"></tp-input-string>
<button id="button-send-email-verify-code">이메일 확인 코드 보내기</button>
<tp-input-string
  id="input-email-verify-code"
  label="이메일 확인 코드"
  disabled
></tp-input-string>
<button id="button-verify-email" disabled>이메일 확인</button>
<tp-input-string
  id="input-username"
  label="사용자 이름"
  disabled
></tp-input-string>
<tp-input-string
  id="input-password"
  label="비밀번호"
  disabled
></tp-input-string>
<button id="button-register" disabled>회원가입</button>
