#profiles .outwrapper {
  max-width: 60rem;
  padding: 0 1rem;
}
#profiles .inwrapper {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
#profiles h2 {
  font-size: 18pt;
  line-height: 2.25rem;
}
#profiles .side {
  width: 16rem;
  display: flex;
  flex-direction: column;
}
#profiles .side > * {
  width: 100%;
  justify-content: flex-start;
}
#profiles .main {
  width: calc(100% - 16rem - 1rem);
}
#profiles .main .button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
#profiles-index-followers {
  text-align: center;
  color: rgb(120, 120, 120);
  line-height: 2rem;
  padding-bottom: 1rem;
}
#profiles-index-name {
  text-align: center;
  padding-top: 1rem;
}
#profiles-index-image {
  display: block;
  width: 16rem;
  height: 16rem;
  border-radius: 100rem;
  overflow: hidden;
  border: solid 1px rgb(210, 210, 210);
}
#profiles .title .buttons {
  display: flex;
  justify-content: space-between;
}
#profiles .title .buttons > a {
  display: none;
}
#profiles .title .buttons[myprofile] > a {
  display: inline-flex;
  width: 100%;
}
#profiles .title .buttons[myprofile] > button {
  display: none;
}
#profiles .title .buttons > button[icon] {
  width: 2.5rem;
}
#profiles .title .buttons > button:first-child {
  width: 10rem;
}

#profiles-account .image {
  width: 12rem;
  height: 12rem;
  margin-bottom: 1rem;
  position: relative;
}
#profiles-account .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100% 100%;
  border: solid 1px rgb(210, 210, 210);
  overflow: hidden;
}
#profiles-account .image > a {
  position: absolute;
  bottom: 0;
  left: 11.25rem;
  white-space: nowrap;
}
