<link href="index.css" rel="stylesheet" />
<script src="index.mjs" type="module"></script>

<section id="profile">
  <div class="outwrapper">
    <div class="inwrapper">
      <div class="image">
        <img src="/resources/IMG_0768.jpg" />
      </div>
      <div class="info">
        <div class="main">
          <div class="bg"></div>
          <div class="fg" id="profile-label-main">샌즈마스터 김샌즈</div>
        </div>
        <div class="sub" id="profile-label-sub"></div>
      </div>
    </div>
  </div>
</section>

<section id="profile-menu">
  <div class="outwrapper">
    <div class="inwrapper" tab="#{tab}">
      <a class="tab" href="/p/#{pid}">사용자 정보</a>
      <a class="tab" href="/p/#{pid}/play-history">플레이 기록</a>
      <a class="tab" href="/p/#{pid}/workshop">창작 마당</a>
    </div>
  </div>
</section>

<import src="/profiles/#{tab}"></import>
