<link href="index.css" rel="stylesheet" />
<script>
  window.pid = '#{pid}';
</script>
<script src="index.mjs" type="module"></script>

<section id="profiles">
  <div class="outwrapper">
    <div class="inwrapper">
      <div class="side">
        <div class="title">
          <img id="profiles-index-image" />
          <h2 id="profiles-index-name">&nbsp;</h2>
        </div>
        <hr />
        <a
          href="/profiles/#{pid}"
          type="button"
          second
          id="profiles-button-profile"
          ><span class="material-symbols-outlined"> person </span>프로필</a
        >
        <a
          href="/profiles/#{pid}/history"
          type="button"
          second
          id="profiles-button-history"
          ><span class="material-symbols-outlined"> history </span>플레이
          기록</a
        >
        <a
          href="/profiles/#{pid}/workshop"
          type="button"
          second
          id="profiles-button-workshop"
          ><span class="material-symbols-outlined"> category </span>창작 마당</a
        >
      </div>
      <div class="main">
        <import src="#{tab}"></import>
      </div>
    </div>
  </div>
</section>
